div { 
    text-align: center;
    background-color: grey;
    text-decoration: none;
  width: 37.5%;
    height:105%;
    margin-left: 460px;
font-size: x-large;
font-family: 'Cinzel', serif;
}
h2 { 
    color: red;
    background-color: black;
    font-family: 'Cinzel', serif;
}
ol { 
    margin-left: 10px;
}
li{
    border: 1px solid black;
}
body {
    background-image: url(./images/hero3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}